*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', 'sans-sherif';
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

.header{
    background: url(image/phone.jpg) no-repeat center center;
    height: 841px;
}

.block-1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF;
}

.menu{
    display: flex;
    padding-top: 31px;
    padding-bottom: 33px;
}

.burger{
    display: none;
}

.imgFloat{
    float: left;
}

.menu-link{
    padding: 10px;
    display: block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.menu-list{
    position: relative;
}

.logo{
    padding-top: 39px;
}

.menu-link:hover{
    background-color: #479EE1;
    border-radius: 15px;
}

.block-2{
    padding-top: 252px;
}

.flat{
    color: #FFFEFE;
    font-size: 40px;
    font-weight: 500;
}

.text-modern{
    color: #FEFEFE;
    font-size: 26px;
    font-weight: 500;
    width: 502px;
    padding-top: 31px;
}

.button{
    padding-top: 69px;
}

.learn{
    padding-left: 24px;
}

/*Block-2*/

.content-welcome{
    padding-top: 92px;
}

.welcome{
    color: #7C7C7C;
    font-size: 18px;
    text-align: center;
    font-family: 'RobotoSlab';
    font-weight: 400;
}

.service{
    color: #494949;
    font-size: 24px;
    text-align: center;
    font-family: 'RobotoSlab';
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10px;
}

.border {
    border-bottom: 3px solid #479EE1;
    width: 31px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}

.block-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-3-content {
    text-align: center;
    padding-top: 96px;
    margin: auto;
}

.web-1{
    font-size: 18px;
    color: #494949;
    font-weight: 700;
    padding-top: 39px;
}

.web-2{
    font-size: 18px;
    color: #494949;
    font-weight: 700;
    padding-top: 64px;
}

.web-3{
    font-size: 18px;
    color: #494949;
    font-weight: 700;
    padding-top: 43px;
}

.more-text{
    padding-top: 23px;
    width: 334px;
    padding-bottom: 172px;
    color: #7C7C7C;
    font-weight: 500;
    font-size: 14px;
}

/*Block-3*/

.features{
    background: url(image/moby.jpg) no-repeat center center;
    height: 781px;
}

.features__block{
    display: flex;
    justify-content: flex-end;
}

.features-content {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.block__text{
    display: flex;
    flex-direction: column;
}

.have{
    font-size: 22px;
    color: #494949;
    font-weight: 600;
    padding-top: 136px;
    opacity: 0.4;
}

.unlimited{
    font-size: 32px;
    color: #494949;
    font-weight: 600;
    padding-top: 9px;
}


.many{
    color: #7C7C7C;
    font-size: 20px;
    font-weight: 500;
    padding-top: 24px;
}

label{
    font-size: 14px;
    color: #7C7C7C;
    font-weight: 500;
    padding-left: 19px;
}

.but{
    padding-top: 31px;
}

.test{
    padding-top: 53px;
}

.test li{
    list-style-type: none;
    padding-bottom: 15px;
}

.block-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: 20px;
    padding-top: 113px;
}

.img{
    float: left;
    padding-bottom: 100px;
    padding-right: 18px;
}

.idea{
    font-size: 18px;
    color: #494949;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 8px;
}

.more-text-1{
    width: 315px;
    color: #7C7C7C;
    font-weight: 500;
    font-size: 14px;
}

.block-4-content{
    margin-bottom: 69px;
}

/* Block 4*/

.slider{
    position: relative;
}

.slide{
    position: absolute;
    opacity: 0;
}

.showing{
    z-index: 10;
    opacity: 1;
}

.costumer{
    padding-top: 16px;
}

.costumer-content{
    background: url(image/background.jpg);
    height: 756px;
    position: relative;
}

.level-1{
    padding-top: 178px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.level-2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 152px;
}

.level-3{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 131px;
}

.welcome-all{
    padding-top: 50px;
}

.author{
    position: absolute;
    z-index: 3;
    margin-top: 89px;
    left: 50%;
    transform: translate(-50%, 0);
}

.all-content{
    position: absolute;
    z-index: 3;
    margin-top: 129px;
    left: 50%;
    transform: translate(-50%, 0);
}

.sourabh{
    letter-spacing: 1px;
    text-align: center;
}

.founder{
    font-size: 15px;
    color: #7c7c7c;
    font-weight: 500;
    padding-top: 4px;
    text-align: center;
}

.great{
    padding-top: 38px;
    font-size: 18px;
    font-weight: 500;
    color: #7c7c7c;
    width: 571px;
    text-align: center;
}

.all-content{
    position: absolute;
    z-index: 3;
    margin-top: 129px;
    left: 50%;
    transform: translate(-50%, 0);
}
.alerts{
    display: flex;
    position: absolute;
    z-index: 3;
    margin-top: 378px;
    left: 50%;
    transform: translate(-50%, 0);
}

.previousText,
.nextText {
  display: flex;
  flex-wrap: nowrap;
}

.previousText{
    color: #494949;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding-right: 44px;
}

.nextText{
    color: #494949;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.previous{
    padding-left: 10px;
    transform: rotate(180deg);
    float: left;
}

.next{
    padding-left:14px;
    float: right;
}

/*Block6*/
.content-3{
    display: flex;
    padding-top: 162px;
    justify-content: space-between;
    padding-bottom: 147px;
}
.feel{
    font-size: 22px;
    color: #494949;
    font-weight: 600;
    padding-top: 10px;
    opacity: 0.4;
    padding-bottom: 5px;
}
.unlimited{
    font-size: 32px;
    color: #494949;
    font-weight: 600;
    padding-top: 9px;
}
.more-text-2{
    width: 446px;
    color: #7C7C7C;
    font-weight: 500;
    font-size: 14px;
    padding-top: 35px;
    line-height: 25px;
}
.word{
    width: 450px;
}

/*block-6*/

.content-4-background{
    background: url(image/hook.jpg) no-repeat center center;
    min-height: 1001px;
}

.welcome-all-1{
    padding-top: 66px;
}

.content-4-book{
    padding-top: 123px;
    display: flex;
    justify-content: space-between;
}

.content-4-1{
    background: url(image/hook-2.jpg) no-repeat;
    height: 583px;
    width: 322px;
    border: 1px solid transparent;
    border-radius: 27px;
    text-align: center;
    transition: all 500ms ease;
    margin: 0 auto;
}

.img-4{
    padding-top: 48px;
}

.student{
    padding-top: 55px;
    font-size: 17px;
    font-weight: 700;
    color: #494949;
    text-align: center;
}

.mo{
    color: #2EB0EC;
    padding-bottom: 40px;
}

.make{
    font-size: 20px;
    color: #2EB0EC;
    font-weight: 500;
}

.fifthy{
    font-size: 72px;
    font-weight: 800;
    
}

.store{
    font-size: 14px;
    color: #494949;
    padding-bottom: 14px;
    font-weight: 500;
}

.cust{
    font-size: 14px;
    color: #7C7C7C;
    padding-bottom: 14px;
    font-weight: 500;
}

.dop{
    padding-bottom: 40px;
}

.sign{
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    width: 151px;
    height: 51px;
    background-color: #66D4F4;
    border: 1px solid transparent;
    border-radius: 29px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1.6px;
    line-height: 48px;
}

.content-4-1:hover{
    background: url(image/hook-3.jpg) no-repeat;
    height: 634px;
    width: 350px;
    border: 1px solid transparent;
    border-radius: 27px;
    text-align: center;
    margin-top: -20px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

/*Block-7*/

.content-5{
    height: 597px;
}

.buttons{
    padding-top: 66px;
    text-align: center;
}

.input-text{
    width: 371px;
    height: 76px;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 38px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
}

.email{
    background-color: #F5FAFA;
}

.subscribe{
        width: 371px;
        height: 76px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 23px;
        background-color: #66D4F4;
        border: 1px solid transparent;
        border-radius: 42px;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 1.6px;
        line-height: 74px; 
}

.border-list{
    border-bottom: 1px solid #DFDFDF;
    padding-top: 105px;
}

/*block-8*/
.content-6-item{
    display: flex;
    justify-content: space-around;
    padding-top: 51px;
    flex-wrap: wrap;
}

.logo-2{
    padding-top: 5px;
    padding-bottom: 15px;
}

.word-2{
    padding-bottom: 15px;
    width: 235px;
    line-height: 28px;
}

.useful{
    color: #494949;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 35px;
}

.resource{
    padding-bottom: 10px;
    list-style-type: none;
}

.resource-list{
    font-size: 14px;
    color: #7C7C7C;
    font-weight: 500;
    text-decoration: none;
}

.border-list-1{
    border-bottom: 1px solid #DFDFDF;
    padding-top: 70px;
}

/*footer*/
.footer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 33px;
    padding-bottom: 33px;
}

.copy{
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #7C7C7C;
}

.line{
    padding-left: 17px;
    padding-right: 17px;
}
.black{
    float: left;
    font-size: 14px;
    font-weight: 700;
    color: #7C7C7C;
}

@media (max-width:1110px) {
    .container{
        max-width:970px;
    }

    .more-text{
        width: 239px;
    }

    .imgWidth{
        height: 300px;
        width: 440px;
    }


    .block-4{
        justify-content: space-around;
    }

    .content-4-1{
        background: url(image/hook-2.jpg) no-repeat;
        height: 588px;
        width: 282px;
        border: 1px solid transparent;
        border-radius: 27px;
        text-align: center;
        transition: all 500ms ease;
    }

    .content-4-1:hover{
        width: 318px;
    }

}

@media (max-width:992px) {
    .container{
        max-width: 750px;
    }

    .menu{
        display: none;
    }

    .block-2 {
        padding-top: 190px;
    }

    .flat {
        font-size: 36px;
    }

    .text-modern {
        font-size: 22px;
        width: 400px;
        padding-top: 31px;
    }

    .button {
        padding-top: 69px;
    }

    .imgFloat{
        float: none;
    }

    .imglearn{
        padding-top: 20px;
    }

    .learn {
        padding-left: 0px;
    }

    .text-modern {
        font-size: 22px;
        width: 400px;
        padding-top: 31px;
    }

    .logo{
        width: 172px;
        height: 90px;
        padding-top: 39px;
    }

    .burger{
        display: block;
        padding-top: 43px;
        padding-bottom: 18px;
        width: 56px;
    }

    .more-text{
        width: 225px;
        font-size: 12px;
    }


        .content-3 {
            flex-wrap: wrap;
        }
        .content-feel {
            text-align: center;
        }
        .word, .more-text-2 {
            width: inherit;
        }
        .imgWidth {
            width: 100%;
            background-size: contain;
            
        }

        .imgblock{
            margin: 40px auto 0;
        }
     
        
    .content-4-1 {
        width: 220px;
    }

    .student {
        font-size: 14px;
    }

    .mo {
        padding-bottom: 40px;
    }

    .make {
        font-size: 16px;
    }

    .fifthy {
        font-size: 64px;
    }

    .store {
        font-size: 12px;
    }

    .cust {
        font-size: 14px;
    }

    .sign {
        font-size: 13px;
        width: 132px;
        height: 48px;
    }

    .level-1 {
        width: 683px;
    }

    .level-2 {
        width: 633px;
        height: 261px;
    }

    .level-3 {
        width: 582px;
        height: 307px;
    }

    .great {
        width: 546px;
    }


    .block-4{
        justify-content: space-around;
    }


    .feel {
        font-size: 16px;
    }

    .content-4-1:hover{
        width: 243px;
    }

    

@media (max-width:768px) {
    .container{
        max-width:none;
    }

    .flat {
        font-size: 28px;
    }

    .text-modern {
        font-size: 18px;
        width: 320px;
        padding-top: 31px;
    }

    .mobileImg{
        width: 150px;
        margin-left: 14px;
    }

    .more-text {
        width: 391px;
        font-size: 22px;
        padding-bottom: 82px;
    }


    .level-1 {
        width: 598px;
    }

    .level-2 {
        width: 548px;
        height: 261px;
    }

    .level-3 {
        width: 485px;
        height: 329px;
        margin-top: 121px;
    }

    .author {
        margin-top: 68px;
    }

    .all-content {
        margin-top: 108px;
    }

    .web-2 {
        font-size: 18px;
        color: #494949;
        font-weight: 700;
        padding-top: 64px;
    }

    .great{
       width: 400px;
    }

    .alerts {
        padding-top: 268px;
    }

    /*Block 3*/
    
    .unlimited {
        font-size: 24px;
    }
    .many {
        font-size: 15px;
    }

    .imgblock{
        text-align: center;
    }
    
    .content-3{
        display: flex;
        padding-top: 162px;
        justify-content: space-between;
        padding-bottom: 147px;
        flex-wrap: wrap;
    }

    .content-feel {
        text-align: center;
    }

    .feel{
        font-size: 16px;
    }

    .unlimited {
        font-size: 32px;
    }

    .more-text-2{
        width: inherit;
        font-size: 14px;
    }

    .word{
        width: inherit;
    }

    .imgWidth {
        width: 489px;
    }

    .logo-2 {
        padding-top: 5px;
        padding-bottom: 15px;
        width: 100px;
    }

    .content-3 {
        display: block;
        padding-top: 162px;
        padding-bottom: 147px;
    }

    .content-feel {
        padding-bottom: 126px;
        text-align: center;
    }

    .word-2 {
        padding-bottom: 15px;
        width: 152px;
        line-height: 28px;
        font-size: 14px;
    }

    .useful {
        color: #494949;
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 35px;
    }

    .copy {
        float: left;
        font-size: 10px;
        font-weight: 500;
        color: #7C7C7C;
    }

    .black {
        float: left;
        font-size: 12px;
        font-weight: 700;
        color: #7C7C7C;
    }

    .content-4-1 {
        background: url(image/hook-2.jpg) no-repeat;
        height: 583px;
        width: 322px;
        border: 1px solid transparent;
        border-radius: 27px;
        text-align: center;
        transition: all 500ms ease;
    }

    .content-4-book {
        padding-top: 123px;
        display: block;
    }

    .student {
        padding-top: 55px;
        font-size: 17px;
        font-weight: 700;
        color: #494949;
        text-align: center;
    }

    .store {
        font-size: 14px;
        color: #494949;
        padding-bottom: 14px;
        font-weight: 500;
    }

    .make {
        font-size: 20px;
        color: #2EB0EC;
        font-weight: 500;
    }

    .fifthy {
        font-size: 72px;
        font-weight: 800;
    }

    .cust {
        font-size: 14px;
        color: #7C7C7C;
        padding-bottom: 14px;
        font-weight: 500;
    }

    .sign {
        color: #fff;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        box-shadow: 0 2px 5px 1px rgb(33 33 33 / 35%);
        border-radius: 23px;
        width: 151px;
        height: 51px;
        background-color: #66D4F4;
        border: 1px solid transparent;
        border-radius: 29px;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 1.6px;
        line-height: 48px;
    }

    .hidden{
        display: none;
    }

}

@media (max-width:650px) {
    .more-text {
        width: 444px;
        font-size: 22px;
        padding-bottom: 82px;
    }


    .level-1 {
        display: none;
    }

    .level-2 {
       display: none;
    }

    .level-3 {
        width: 519px;
        height: 329px;
    }

    .web-2 {
        font-size: 18px;
        color: #494949;
        font-weight: 700;
        padding-top: 64px;
    }

    .great{
       width: 400px;
    }

    .alerts {
        padding-top: 270px;
    }

    .imgWidth {
        width: 389px;
    }


}

@media (max-width:576px) {
    .container{
        max-width:none;
    }

    .container{
        max-width:none;
    }

    .flat {
        font-size: 28px;
    }

    .text-modern {
        font-size: 18px;
        width: 320px;
        padding-top: 31px;
    }

    .mobileImg{
        width: 150px;
        margin-left: 14px;
    }

    .more-text {
        width: 391px;
        font-size: 22px;
        padding-bottom: 82px;
    }

    .features-content {
        width: 310px;
    }

    .have {
        font-size: 16px;
    }

    .unlimited {
        font-size: 20px;
    }

    .many {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }
    
    .level-1{
        display: none;
    }

    .level-2{
        display: none;
    }

    .level-3 {
        position: absolute;
        width: 370px;
    }

    .great {
        padding-top: 38px;
        font-size: 16px;
        font-weight: 500;
        color: #7c7c7c;
        width: 65vmin;
        text-align: center;
    }

    .previousText {
        padding-right: 30px;
    }

    .content-feel{
        text-align: center;
        padding-bottom: 127px;
    }

    .many {
        font-size: 15px;
    }

    .imgWidth {
        height: 300px;
        width: 440px;
    }

    .more-text-2 {
        font-size: 12px;
    }

    .content-3 {
        display: flex;
        padding-top: 162px;
        justify-content: space-between;
        padding-bottom: 147px;
    }

    .content-4-1 {
        background: url(image/hook-2.jpg) no-repeat;
        height: 583px;
        width: 322px;
        border: 1px solid transparent;
        border-radius: 27px;
        text-align: center;
        transition: all 500ms ease;
    }

    .alerts {
        padding-top: 283px;
    }

    .content-4-book {
        padding-top: 123px;
        display: block;
    }

    .hidden{
        display: none;
    }

    .student {
        padding-top: 55px;
        font-size: 17px;
        font-weight: 700;
        color: #494949;
        text-align: center;
    }

    .store {
        font-size: 14px;
        color: #494949;
        padding-bottom: 14px;
        font-weight: 500;
    }

    .make {
        font-size: 20px;
        color: #2EB0EC;
        font-weight: 500;
    }

    .fifthy {
        font-size: 72px;
        font-weight: 800;
    }

    .cust {
        font-size: 14px;
        color: #7C7C7C;
        padding-bottom: 14px;
        font-weight: 500;
    }

    .sign {
        color: #fff;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        box-shadow: 0 2px 5px 1px rgb(33 33 33 / 35%);
        border-radius: 23px;
        width: 151px;
        height: 51px;
        background-color: #66D4F4;
        border: 1px solid transparent;
        border-radius: 29px;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 1.6px;
        line-height: 48px;
    }

    .logo-2 {
        padding-top: 5px;
        padding-bottom: 15px;
        width: 100px;
    }

    .word-2 {
        padding-bottom: 15px;
        width: 152px;
        line-height: 28px;
        font-size: 14px;
    }

    .useful {
        color: #494949;
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 35px;
    }

    .copy {
        float: left;
        font-size: 10px;
        font-weight: 500;
        color: #7C7C7C;
    }

    .black {
        float: left;
        font-size: 12px;
        font-weight: 700;
        color: #7C7C7C;
        padding-left: 5px;
    }

@media( max-width: 480px) {
    /*block 1*/
    .logo{
        width: 155px;
        height: 84px;
    }

    .flat {
        font-size: 20px;
    }

    .text-modern {
        font-size: 16px;
        width: 220px;
    }

    .img__google{
        width: 200px;
    }

    .img__learn{
        width: 200px;
    }

    /*block 2*/

    .more-text {
        width: 80vmin;
        font-size: 22px;
        padding-bottom: 0px;
    }

    /*block 4*/
    .more-text-1 {
        max-width: 222px;
        font-size: 12px;
    }


    .level-3 {
        position: absolute;
        z-index: 3;
        width: 80%;
        height: 368px;
        margin-top: 100px;
    }

    .great {
        padding-top: 38px;
        font-size: 16px;
        font-weight: 500;
        color: #7c7c7c;
        width: 70vw;
        text-align: center;
    }

    .imgWidth {
        height: 100%;
        width: 80%;
    }

    .imgblock {
        text-align: center;
        margin: 0 0 0 0;
    }

    .buttons{
        text-align: center;
    }

    .subscribe{
        width: 80%;
    }

    .input-text{
        width: 80%;
    }

    .content-4-1 {
        width: 220px;
    }

    .student {
        font-size: 14px;
    }

    .mo {
        padding-bottom: 40px;
    }

    .make {
        font-size: 16px;
    }

    .fifthy {
        font-size: 64px;
    }

    .store {
        font-size: 12px;
    }

    .cust {
        font-size: 14px;
    }

    .sign {
        font-size: 13px;
        width: 132px;
        height: 48px;
    }

    .footer__block{
        display: flex;
    }

    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 33px;
        padding-bottom: 33px;
    }
    
    .copy{
        float: left;
        font-size: 14px;
        font-weight: 500;
        color: #7C7C7C;
    }
    
    .line{
        padding-left: 0px;
        padding-right: 0px;
    }
    .black{
        float: left;
        font-size: 14px;
        font-weight: 700;
        color: #7C7C7C;
    }

    .block__align{
        margin: 0 auto;
    }

    .previousText{
        font-size: 15px;
        font-size: calc(5px + 3vw);
    }

    .nextText{
        font-size: 15px;
        font-size: calc(5px + 3vw);
    }


    @media (max-width:410px) {
        .previousText{
            font-size: 15px;
        }

        .previous{
            width: 25px;
        }

        .nextText{
            font-size: 15px;
        }

        .next{
            width: 25px;
        }
    }
}
}